html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: #cec6c0;
  background-color: #221e1b;
  line-height: 1.5;
  width: 100%;
  font-family: "Latin Modern", "Georgia", serif; }

body {
  margin: 0 auto;
  font-size: 2rem;
  max-width: 60ch; }

p {
  text-align: justify; }

pre, code {
  font-size: 1.5rem; }

a, a:link, a:visited {
  color: #fc7922; }

.subtitle {
  font-style: italic;
  color: #ac9e95; }
