$sh-0: hsla(0, 0%, 0%, 0.4)
$fg-1: hsl(24, 12%, 78%)
$fg-2: hsl(24, 12%, 63%)
$fg-3: hsl(24, 12%, 47%)
$bg-1: hsl(24, 12%, 12%)
$bg-2: hsl(24, 12%, 18%)
$bg-3: hsl(24, 12%, 24%)
$ac-1: hsl(24, 97%, 56%)

$max-width: 60ch

html
  font-size: 62.5%
  margin: 0
  padding: 0
  color: $fg-1
  background-color: $bg-1
  line-height: 1.5
  width: 100%
  font-family: "Latin Modern", "Georgia", serif

body
  margin: 0 auto
  font-size: 2rem
  max-width: $max-width

p
  text-align: justify
  
pre, code
  font-size: 1.5rem
  
a, a:link, a:visited
    color: $ac-1
    
.subtitle
  font-style: italic
  color: $fg-2
